.container-poster {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

}

.poster {
    margin-top: 5rem;
    margin-left: 15rem;
}

.poster-jinx {
    background-image: url("../img/tableau-jinx.jpg");
    width: 500px;
    height: 700px;
    background-size: cover;
}

.title-poster {
    color: #E6E6E6;
    font-family: "arcane";
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.description-poster {
    margin-top: 15rem;
    margin-left: 6rem;
}

.var-poster {
    width: 26rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.color-p {
    color: #E6E6E6;
}

.fa-star {
    color: #597BA5;
}

.fa-star-half-stroke {
    color: #597BA5;
}

.fa-euro-sign {
    color: #597BA5;
}

.prix {
    margin-bottom: 2rem;
}

.bouton {
    background-color: #597BA5;
    border: none;
    color: #E6E6E6;
    cursor: pointer;
    text-align: left;
    outline: none;
    text-decoration: none;
    font-family: "arcane";
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    min-height: 48px;
    min-width: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
}