{% extends "base.html.twig" %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}

{{ encore_entry_link_tags('home') }}

{% endblock %}

    {% block body %}
    <main>
    <article>
    <div class="jinx-imj">
    <div class="jinx"></div>
    </div>
    <div class="lore">
    <h2 class="title-jinx">Lore de Jinx</h2>
    <p class="color-p largeur">Criminelle hystérique et impulsive de Zaun, Jinx ne vit que pour semer le chaos sans se préoccuper des conséquences. Équipée d'un arsenal d'armes mortelles, elle déchaîne les explosions les plus spectaculaires en ne laissant dans son sillage que destruction et panique. Jinx déteste s'ennuyer et c'est dans la bonne humeur qu'elle sème le chaos dans tous les endroits qu'elle traverse.</p>
    </div>
    </article>
    </main>
	
    <div>
        {#cringe#}
        {% set username = 'Uwu Jinx' %}
        {% if username %}
            {{username}} 
        {% endif %}
    </div>
{% endblock %}
 


