{% extends "base.html.twig" %}

{% block title %}poster
{% endblock %}

{% block stylesheets %}

{{ encore_entry_link_tags('poster') }}

{% endblock %}

 {% block body %}

    <main>
        <article class="container-poster">
            <div class="poster">
                <div class="poster-jinx"></div>
            </div>
            <div class="description-poster">
            <h2 class="title-poster">Poster-jinx-arcade</h2>
            <div><p class="color-p">200 ventes 5 <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> (95 avis) </p></div>
            <p class="var-poster color-p">{{loremjinx}}</p>
            <p class="color-p prix">150.25 <i class="fa-solid fa-euro-sign"></i></p>
            <button class="bouton">Ajouter au panier</button>
            </div>
        </article>
    </main>

 {% endblock %}

